@charset "UTF-8";

body
{
    background: rgb(46, 155, 198);
    color: black;
    font-weight  : bold  ;
}

td
       {
        background : linear-gradient(135deg , red 15%, yellow 60% , skyblue 25% ) ;
       width :  300 ;
       }

a
{
        text-decoration : none ;
}


.footer{
    text-align : center ;
    margin-top : 1em  0 ;
    background : rgb(136, 202, 240) ;
    clear : both ;
}


@media screen and (max-width:541px)
{
     .smaller
      {
     font-size : 12px ;
      }

}

